@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: hidden; */
}

body{
    height: 100%;
    top: -5px !important;
}

.pointer {cursor: pointer;}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
  }

h4{
    background-color: white;
}

a{
    background-color: white !important;
    color: rgb(78,205,230);
}

p{
    background-color: white;
}

strong{
    background-color: white;
}

#Instruction0{
    /* display: block; */
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0%;
    margin-top: 5px;
    border-radius: 5%;
    height: 45vh;
}

#google_translate_element{
    position: absolute;
    /* top: 30%;
    left: 36%; */
    height: 100px;
    width: 330px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* transition: 3s ease-in-out; */
}


.language_text{
    margin-bottom: 3vh;
}

#Instruction1{
    display: none;
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0%;
    margin-top: 5px;
    border-radius: 5%;
    height: 45vh;
}

#Instruction2{
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 46vh;
    display: none;
}

#Instruction3{
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 46vh;
    display: none;
}

#Instruction4{
    background-color: white;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9%;
    padding-bottom: 16%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 58vh;
    color: white;
    display: none;
}

#Instruction5, #Instruction6{
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 46vh;
    display: none;
}

#Instruction7{
    background-color: white;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1%;
    padding-bottom: 24%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 58vh;
    color: white;
    display: none;
    position: relative;
}

#Instruction8search{
    display: none;
    background-color: white;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1%;
    padding-bottom: 24%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 58vh;
    color: white;
    position: relative;
}

#Instruction9_contacts1{
    display: none;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1%;
    padding-bottom: 24%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 58vh;
    color: white;
    position: relative;
    overflow: hidden;
    height: 44.7vh;
    background: transparent;
}

#Instruction10{
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 44.7vh;
    display: none;
    overflow: hidden;
    position: relative;
}

#Instruction11{
    background-color: black;
    width: 19.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 46vh;
    display: none;
}

.giveaccess0, .giveaccess1, .giveaccess2, .giveaccess3{
    margin-top: 10%;
    margin-bottom: 42%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 5px;
    text-align: left;
}

.giveaccess4{
    margin-top: 10px;
    background-color: white;
}

.giveaccess5, .giveaccess6{
    margin-top: 10%;
    margin-bottom: 47%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    padding: 5px;
    padding-bottom: 13px;
    border-radius: 5px;
    text-align: left;
}

.giveaccess7{
    margin-top: 10px;
    background-color: white;
}

.giveaccess11{
    margin-top: -76%;
    padding-bottom: 6%;
}

.overlapping7 {
    position: inherit;
    border-radius: 11px;
    background-color: white;
    margin-top: -12px;
    z-index: 100000 !important;
}

#btngive0{
    float: right;
    margin: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4285F4;
    border-radius: 2px;
    color: white;
    border-width: 0cm;
}

#btngive1{
    float: right;
    margin: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4285F4;
    border-radius: 5px;
    color: white;
    border-width: 0cm;
}

#btngive2, #btngive3, #btngive5, #btn{
    float: right;
    color: rgb(38, 139, 92);
    border-width: 0cm;
    padding: 10px;
    background-color: white;
    font-weight: bold;   
}

#btngive5,#btn5{
    float: right;
    color: rgb(38, 139, 92);
    border-width: 0cm;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    margin-top: -26px;
}

#btngive6, #btn6{
    float: right;
    color: rgb(38, 139, 92);
    border-width: 0cm;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    margin-top: -26px;
}

#btngive4{
    float: right;
    margin: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #4285F4;
    border-radius: 5px;
    color: white;
    border-width: 0cm;
    font-size: 19px;
}

#again{
    float: left;
    margin: 5px;
}

#radioask{
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}

#contactspermission, #callpermission{
    width: 40px;
    float: left;  
}

#numbers{
    position: absolute;
    color: rgba(153, 150, 150, 0.842);
    margin-top: 27px;
    font-size: 15px;
}

.fa-question-circle-o{
    color: dodgerblue;
    float: right;
    margin-bottom: 100px;
    margin-top: -126px;
    background-color: white;
}

#ins4p{
    color: black;
    font-size: 26px;
}

select{
    border-bottom-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 3px;
    width: 96px;
    background-color: rgba(128, 128, 128, 0.137);
    float: left;
    margin-top: 57px;
    margin-left: 10px;
    height: 34px;
}

option{
    background-color: white;
}

#contactno{
    float: right;
    border-bottom-color: rgb(78,205,230);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 3px;
    width: 50px;
    background-color: rgba(128, 128, 128, 0.137);
    margin-top: 58px;
    margin-right: 10px;
    height: 30px;
    width: 161px;
}

#ins4p1{
    color: grey;
    font-family: sans-serif;
    text-align: left;
    margin-top: 96px;
    margin-left: 1px;
}
#ins4p2{
    color: grey;
    margin-top: 61px;
}

hr{
    margin-top: 102px;
    color: rgba(128, 128, 128, 0.37);
    background-color: rgba(128, 128, 128, 0.37);
}

#txtphone{
    position: absolute;
    color: rgb(78,205,230);
    background-color: rgba(128, 128, 128, 0.137);
    margin-left: 127px;
    margin-top: 39px;
    width: 161px;
}

#countrycode{
    position: absolute;
    color: grey;
    background-color: rgba(128, 128, 128, 0.137);
    margin-left: 10px;
    margin-top: 37.5px;
    width: 96px;
}

#campermission{
    width: 43px;
    float: left;
}

#camp{
    font-size: 20px;
}

#numberscam{
    position: absolute;
    color: rgba(153, 150, 150, 0.842);
    margin-top: 0px;
    font-size: 15px;
}

#audiopermission{
    width: 35px;
    float: left;
}

#audiopno{
    margin-left: 10px;
    margin-top: 1px;
    float: left;
    color: rgba(153, 150, 150, 0.842);
}

#audiop{
    margin-top: 11px;
    margin-left: 68px;
}

#filter{
    width: 298px;
    margin-top: -20px;
    border-top-left-radius: 19px;
    border-top-right-radius: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-search{
    color: rgba(128, 128, 128, 0.712);
    background-color: white;
}

#searchb{
    margin-left: 10px;
    height: 46px;
    width: 28px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    border-right: none;
    border-color: rgba(153, 150, 150, 0.842);
    border-width: 1px;
}

#search{
    margin-left: -5px;
    margin-top: 40px;
    height: 32px;
    width: 204px;
    padding: 6px;
    border-left: none;
    border-right: none;
    border-color: rgb(153, 150, 150, 0.842);
    border-width: 1px;
}

.material-icons{
    position: absolute;
    margin-top: -28px !important;
    margin-left: -16px;
    float: left;
    color: grey;
    margin-top: -34px;
    padding-top: 13px;
}
#dialpad {
    margin-left: -5px;
    height: 46px;
    width: 24px;
    padding-top: 20px;
    padding-bottom: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border-left: none;
    border-width: 1px;
    border-color: rgba(153, 150, 150, 0.842);
}

#dialpad8 {
    height: 46px;
    width: 24px;
    padding-top: 19px;
    padding-bottom: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: none;
    z-index: 5;
    margin-left: 271px;
    float: right;
    margin-top: -56px;
}

.btnInvite{
    border-radius: 7px;
    background: white;
    color: #4285F4;
    border-color: rgba(153, 150, 150, 0.842);
    margin-top: 22px;
    margin-left: 10px;
    width: 128px;
    height: 38px;
    font-size: 16px;
}

.btncreategroups{
    border-radius: 7px;
    background: white;
    color: #4285F4;
    border-color: rgba(153, 150, 150, 0.842);
    margin-top: 22px;
    margin-left: 8px;
    width: 128px;
    height: 38px;
    font-size: 16px;
}

#p7{
    color: black;
    text-align: left;
    margin-top: 37px;
}

#p8{
    color: black;
    text-align: left;
}

.coral{
    color: coral;
    font-size: 33px !important;
    margin-top: 15px;
}

.blue{
    color:rgb(70, 70, 245);
    font-size: 33px !important;
    margin-top: 15px;
}

.contacts1{
    margin-left: -128px;
    border: none;
    background-color: white;
}

#contactname7{
    float: right;
    text-align: left;
    border: none !important;
    margin-top: 15px;
}

#contactname{
    float: right;
    text-align: left;
    border: none !important;
}

.contacts2{
    margin-left: -148px;
    border: none;
    background-color: white;
}

.contacts1_search{
    margin-left: -100px;
    border: none;
    background-color: white;
}

.contacts2_search{
    margin-left: -125px;
    border: none;
    background-color: white;
}

.fa-user-friends{
    font-size: 15px;
    padding-top: 4px;
}

#myInput {
    background-image: url(/css/searchicon.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 78%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: -9;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px;
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; 
  }

  #backarrow{
    border: none;
    float: left;
    font-size: 20px;
    z-index: 10;
    position: absolute;
    margin-top: 11px;
    color: grey;
    background-color: white;
    margin-left: 10px;
  }

  .contacts1_arrow{
    color: grey;
    float: left;
    margin-left: 20px;
    margin-top: -87px;
  }

 #first_letter{
    font-size: 52px;
    height: 60px;
    width: 60px;
    border-radius: 81px;
    background-color: coral;
    margin-top: 15px;
    position: absolute;
    margin-left: -28px;
    margin-top: -66px;
    color: black;
    align-items: center;
    justify-content: center;
 }

 #first_letterN{
    font-size: 52px;
    height: 60px;
    width: 60px;
    border-radius: 81px;
    background-color: coral;
    margin-top: 15px;
    position: absolute;
    margin-left: -155px;
    margin-top: 50px;
    color: black;
    align-items: center;
    justify-content: center;
 }

 #first_letterNa{
    font-size: 52px;
    width: 60px;
    border-radius: 81px;
    background-color: coral;
    margin-top: 15px;
    position: absolute;
    margin-left: -36px;
    margin-top: -71px;
    color: black;
    align-items: center;
    justify-content: center;
 }

 .contact1name{
    margin-top: 103px;
    color: white;
 }

 .contact1nameNa{
    margin-top: -113px;
    color: white;
 }

 #contact1no{
    color: white;
    background-color:transparent;
 }

 #duo_emoji{
    background-color: rgba(204, 197, 197, 0.267);
    width: 47px;
    border: 1px solid #555252;
    margin-top: 19px;
    height: 29px;
    border-radius: 8px;
}

.fa-ellipsis-h{
    background-color: #363535;
    margin-top: 138px;
    height: 34px;
    padding-top: 18px;
    width: 50px;
    border-radius: 33px;
}

#history{
    font-family: sans-serif !important;
    background-color: transparent;
    margin-top: 11px;
}

#voice{
    background: transparent;
    margin-top: 231px;
    margin-left: -49px;
    font-size: 14px;
    float: left;
}

.fa-video{
    background-color: #a8c7fb;
    width: 132px;
    height: 31px;
    padding-top: 12px;
    border-radius: 33px;
    margin-top: 180px;
}

.fa-paper-plane{
    height: 33px;
    width: 47px;
    background-color: transparent;
    padding-top: 13px;
    border-radius: 37px;
    border-width: 1px;
    border: 1px solid;
    border-color: grey;
    float: right;
    margin-top: 180px;
    margin-right: 12px;
}

#message{
    background: transparent;
    margin-top: 229px;
    margin-right: -51px;
    font-size: 14px;
    float: right;
}

#video{
    filter: brightness(0.3);
    z-index: -1;
    width: 944px;
    position: absolute;
    margin-left: -450px;
    height: 1000px;
    margin-top: -162px;
}

/* #vidid1{
    filter: brightness(0.3);
    z-index: -1;
    width: 944px;
    position: absolute;
    margin-left: -450px;
    height: 1000px;
    margin-top: -162px;
}

#vidid2{
    filter: brightness(0.3);
    z-index: -1;
    width: 944px;
    position: absolute;
    margin-left: -450px;
    height: 1000px;
    margin-top: -162px; */
/* } */

#video_call{
    z-index: 1;
    width: 944px;
    position: absolute;
    margin-left: -477px;
    height: 1000px;
    margin-top: -162px;
}

.fa-circle{
    color: white;
}

.videocalling{
    color: white;
    background-color: transparent;
    margin-top: 4px;
}

.fa-lock{
    color: white;
    margin-left: -4px;
    margin-top: 20px;
}

.fa-dot-circle{
    color: white;
    font-size: 35px;
    margin-top: 319px;
    margin-left: 18px;
    background-color: red;
    border-radius: 16px;
}

.fa-microphone-slash{
    color: white;
    margin-top: 50px;
    float: left;
    margin-left: 71px;
    background-color: grey;
    font-size: 16px;
    height: 28px;
    padding-top: 13px;
    width: 42px;
    border-radius: 26px;
}

.fa-phone{
    height: 31px;
    width: 47px;
    padding-top: 14px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid;
    border-color: grey;
    margin-top: 179px;
    margin-left: 22px;
    transform: rotate(90deg);
    float: left;
}

.endup{
    border: none;
    transform: rotate(223deg);
    float: left;
    background-color: red;
    margin-top: 47px;
}

.fa-ellipsis-v{
    color: white;
    float: left;
    margin-top: 51px;
    margin-left: 18px;
    background-color: grey;
    width: 17px;
    padding: 12px;
    border-radius: 21px;
}

.dots{
    color: grey;
    margin-top: -95px;
    margin-left: 244px;
    background-color: transparent;
  }

  @media screen and (max-width:900px) {
    #Instruction0{
        display: block;
    background-color: black;
    width: 36.4vw;
    padding-top: 29%;
    margin-left: 30%;
    margin-top: 6px;
    height: 56vh;
    }

    #Instruction1{
        display: none;
        background-color: black;
        width: 36.4vw;
        padding-top: 30%;
        margin-left: 30%;
        margin-top: 6px;
        padding-bottom: 19%;
        height: 56vh;
    }
    
    #Instruction2{
        display: none;
        background-color: black;
        width: 36.4vw;
        padding-top: 28%;
        padding-bottom: 21%;
        margin-left: 30%;
        margin-top: 6px;
        height: 56vh;
    }
    
    #Instruction3{
        display: none;
        background-color: black;
        width: 36.4vw;
        padding-top: 33%;
        padding-bottom: 16%;
        margin-left: 30%;
        margin-top: 6px;
        height: 56vh;
    }
    
    #Instruction4{

        text-align: center;
        width: 38.4vw;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 33%;
        margin-left: 34%;
        margin-right: 40%;
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 5%;
        height: 58vh;
        color: white;
        display: none;
        padding-top: 16%;
        background-color: white;
    }

#Instruction5, #Instruction6{
    background-color: black;
    width: 38.4vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30%;
    padding-bottom: 19%;
    margin-left: 32%;
    margin-right: 40%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5%;
    height: 46vh;
    display: none;
    }
    
    #Instruction7{
        width: 39.1vw;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2%;
        padding-bottom: 47%;
        margin-left: 33%;
        margin-right: 40%;
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 5%;
        height: 58vh;
        color: white;
        display: none;
        position: relative;
        background-color: white;
    }
    
    #Instruction8search{
        background-color: white;
        width: 36.4vw;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1%;
        padding-bottom: 48%;
        margin-left: 40%;
        margin-right: 40%;
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 5%;
        height: 58vh;
        color: white;
        position: relative;
        display: none;
    }
    
    #Instruction9_contacts1{
        width: 38.4vw;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1%;
        padding-bottom: 47%;
        margin-left: 30%;
        margin-right: 40%;
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 5%;
        height: 58vh;
        color: white;
        position: relative;
        overflow: hidden;
        height: 44.7vh;
        background: transparent;
        display: none;
    }
    
    #Instruction10{
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 28%;
        padding-bottom: 21%;
        margin-left: 29%;
        margin-right: 40%;
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 5%;
        height: 44.7vh;
        display: none;
        overflow: hidden;
        position: relative;
        background-color: black;
        width: 39.4vw;
    } 
    
    #txtphone{
        color: rgb(78,205,230);
        background-color: rgba(128, 128, 128, 0.137);
        margin-left: 124px;
        margin-top: 39px;
        width: 161px;
        position: absolute;
    }
}

  @media screen and (max-width:600px){
    #Instruction0{
        display: block;
        background-color: black;
        width: 62.4vw;
        padding-top: 43%;
        margin-left: 19%;
        margin-right: 10%;
        height: 60vh;
    }

    #Instruction1{
        background-color: black;
        width: 62.4vw;
        padding-top: 44%;
        padding-bottom: 29%;
        margin-left: 19%;
        height: 60vh;
        display: none;
    }

    #Instruction2{
        width: 62.4vw;
        padding-top: 43%;
        padding-bottom: 30%;
        margin-left: 19%;
        height: 60vh;
        display: none;
        background-color: black;
    }

    #Instruction3{
        background-color: black;
        width: 62.4vw;
        padding-top: 44%;
        padding-bottom: 29%;
        margin-left: 19%;
        height: 60vh;
        display: none;
    }

    #Instruction4{
        width: 57.4vw;
        padding-bottom: 48%;
        margin-left: 22%;
        border-radius: 5%;
        height: 58vh;
        display: none;
        padding-top: 25%;
        background-color: white;
        text-align: center;
    }

    #Instruction5, #Instruction6{
        width: 57.4vw;
        padding-top: 45%;
        padding-bottom: 28%;
        margin-left: 24%;
        border-radius: 5%;
        height: 46vh;
        display: none;
        background-color: black;
    }
    
    #Instruction7{
        width: 57.4vw;
        padding-right: 9px;
        padding-top: 3%;
        padding-bottom: 70%;
        margin-left: 20%;
        color: white;
        display: none;
        position: relative;
    }
    
    #Instruction8search{
        display: none;
        background-color: white;
        width: 58.4vw;
        padding-bottom: 72%;
        margin-left: 22%;
    }
    
    #Instruction9_contacts1{
        width: 57.4vw;
        padding-bottom: 72%;
        margin-left: 21%;
        border-radius: 5%;
        height: 58vh;
        display: none;
    }
    
    
    #Instruction10{
        width: 58.4vw;
        padding-top: 41%;
        padding-bottom: 32%;
        margin-left: 22%;
        display: none;
        overflow: hidden;
        position: relative;
        background-color: black;
    }

    #txtphone{
        color: rgb(78,205,230);
        background-color: rgba(128, 128, 128, 0.137);
        margin-left: 116px;
        margin-top: 39px;
        width: 161px;
        position: absolute;
    }
}

@media screen and (max-width:400px) {

    #Instruction0{
        margin-left: 14%;
        width: 68.4vw;
        height: 64vh;
        padding-top: 50%;
    }

    #Instruction1{
        margin-left: 14%;
        width: 68.4vw;
        padding-bottom: 50%;
        padding-top: 44%;
    }

    #Instruction2{
        margin-left: 14%;
        padding-top: 54%;
        padding-bottom: 40%;
        width: 68.4vw;
    }

    #Instruction3{
        margin-left: 14%;
        padding-top: 54%;
        padding-bottom: 40%;
        width: 68.4vw;
    }

    #Instruction4{
        padding-bottom: 71%;
        margin-left: 10%;
        width: 76.4vw;
    }

    #Instruction5, #Instruction6{
        margin-left: 14%;
        padding-top: 54%;
        padding-bottom: 40%;
        width: 68.4vw;
    }
    
    #Instruction7{
        padding-top: 4%;
        padding-left: 1px;
        padding-right: 0px;
        padding-bottom: 90%;
        margin-left: 11%;
        color: white;
        display: none;
        position: relative;
        width: 75.4vw;
    }
    
    #Instruction8search{
        display: none;
        background-color: white;
        width: 76.4vw;
        padding-bottom: 94%;
        margin-left: 11%;
    }

    #filter{
        width: 97%;
    }
    
    #Instruction9_contacts1{
        margin-left: 12%;
        width: 75.4vw;
        padding-bottom: 93%;
    }

    .fa-ellipsis-h{
        background-color: #363535;
        margin-top: 117px;
        height: 34px;
        padding-top: 18px;
        width: 50px;
        border-radius: 33px;
    }

    .fa-phone{
        margin-top: 49px;
        float: left;
    }
    
    .fa-video{
        margin-top: 167px;
    }

    #voice{
        margin-top: 220px;
    }

    .fa-paper-plane{
        margin-top: 167px;
    }

    #message{
        margin-top: 220px;
    }
    
    #Instruction10{
        width: 78.4vw;
        padding-top: 53%;
        padding-bottom: 41%;
        margin-left: 10%;
    }

    .fa-dot-circle{
        margin-top: 304px;
    }
}

#person1{
    width: 19vw;
    height: 45vw;
    margin-top: -16px;
    border-radius: 16px;
    z-index: 1;
}

#person2{
    width: 123px;
    float: right;
    margin-top: -222%;
    margin-right: 7px;
    z-index: 15;
    position: relative;
    border-radius: 10%;
}

#watermark{
    background: transparent;
    position: relative;
    color: grey;
    margin-right: 24px;
    top: 2px;
    float: right;
    z-index: 15;
}

.fa-sync{
    z-index: 3;
    position: relative;
    float: left;
    color: white;
    background-color: grey;
    width: 30px;
    height: 24px;
    padding-top: 9px;
    border-radius: 20px;
    margin-left: 184px;
    margin-top: -52px;
}

.micoff{
    float: left;
    margin-left: 75px;
    z-index: 12;
    position: relative;
    margin-top: -52px;
    font-size: 13px;
    width: 34px;
    height: 24px;
    padding-top: 10px;
}

.fa-video-slash{
    float: left;
    margin-top: -51px;
    margin-left: 29px;
    height: 23px;
    width: 30px;
    padding-top: 7px;
    border-radius: 25px;
    position: relative;
    background: grey;
    color: white;
    z-index: 48;
}

.end{
    margin-top: -58px;
    margin-left: 122px;
    font-size: 14px;
    width: 45px;
}

.dots3{
    margin-top: -53px;
    font-size: 13px;
    z-index: 20;
    position: relative;
    margin-left: 233px;
    padding-top: 11px;
    height: 10px;
    width: 10px;
}
  