#head {

    color: blue;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;

}

#div {
    background-color: rgb(240, 238, 238);
}

#photo {

    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

#proof2 {

    margin-left: 50px;
    padding-right: 1000px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

}

.option {

    font-size: 15px;
    font-weight: 600;
}

.inpu {

    /* border-bottom: black; */
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    /* border-bottom-width: 50px; */

    margin-left: 50px;
    margin-right: 10px;
    padding-right: 959px;

}

#pan,
#name,
#gender,
#birth {


    margin-left: 50px;
    padding-right: 1000px;
    font-size: 20px;
    font-weight: bold;

}

#male {

    margin-left: 50px;


}

#malelabel,
#femalelabel,
#otherlabel {
    font-size: 20px;
}

#warning {

    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    text-align: center;
    font-weight: 800;
}


#bt5 {
    color: white;
    background-color: rgb(0, 0, 255);
    margin-left: 550px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;



}


#form2pg{
    display: none;
}