#head{
    color: blue;
    font-size: 25px;
    text-align: center;
    margin-top: 200px;
}

#otp{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

    
}

#number{

    border-bottom: red;
    border-style: solid;
    text-align: center;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    margin-left: 300px;
    margin-right: 35px;
    font-size: 20px;

}

#bt1{
    color: white;
    background-color: rgb(0, 0, 255);
    margin-left: 300px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom:5px;
    margin-top: 0px;
    font-size: 20px;
    border-radius: 5px;
   


}