fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}

.panel-body {

    width: 2000px;
}

#name1_pg1 {
    font-size: 30px;
    color: blue;
    font-weight: 700;
    margin-left: 50px;
}


#dob1 {

    display: inline;
    margin-left: 35px;
    font-size: 25px;
    font-weight: 900;
}

#id1 {

    display: inline;
    margin-left: 85px;
    font-size: 25px;
    font-weight: 900;


}

#idnum1 {


    display: inline;
    margin-left: 200px;
    font-size: 25px;
    font-weight: 900;

}

#person1dob,
#id,
#idnum {

    display: inline;
    font-size: 20px;
    font-weight: 900;

}

#bt4 {
    color: white;
    background-color: rgb(0, 0, 255);
    margin-left: 550px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;



}

#person1pg{
    display: none;
}
#del{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline;
    float: right;
    border-width: 0px;
    background-color: white;
}


#vaccine_icon{
    height: 35px;
    width: 35px;
    display: inline;
    
}

.dose1{
    display: inline;
    margin-top: 0px;
    margin-left:5px ;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 25px;
    color: red;

}

.dose1_des{
    margin-left: 40px;
    display: inline;
    padding-top: 200px;
    font-size: 20px;
    color: red;
}

#sch_bt{
    float: right;
    display: inline;
    margin-top: 10px;
    border:solid;
    border-color: blue;
    color: blue;
    border-radius: 20px;
    padding-left:  20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    border-width: 0.5px;
    background-color: white;



}
#del{
    height: 50px;
    width: 50px;
    border-width: 0px;
    background-color: white;
}

/* #person1pg{

    display: ;
} */
